.hair-loss-treatment-clinic h2 {
  font-size: 2rem;
  color: var(--secondary);
  margin: 0.8rem 0rem;
}

.hair-loss-treatment-clinic .clinic-feature {
  color: var(--secondary);
  font-size: 1.2rem;
  margin: 0.5rem 0rem;
}

.hair-loss-treatment-clinic .clinic-feature-description {
  font-size: 0.8rem;
  margin: 0.4rem 0rem;
  line-height: 1.6;
}

.hair-loss-treatment-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0rem;
}

.hair-loss-treatment-clinic {
  flex: 0 1 55%;
}

@media screen and (max-width: 540px) {
  html {
    font-size: 12px;
  }
  .aboutus_hero {
    max-width: 100%;
  }
  .aboutus_hero img {
    width: 100%;
    margin-top: 10rem;
  }
  .hair-loss-treatment-section {
    flex-direction: column;
  }
  .hair-loss-treatment-clinic {
    flex: 0 1 40%;
  }
  .hair-loss-treatment-section figure {
    margin-top: 2rem;
  }
  .hair-loss-treatment-section img {
    width: 300px;
  }
  .container {
    width: 500px;
  }
}

@media screen and (max-width: 440px) {
  html {
    font-size: 8px;
  }
  .container {
    width: 400px;
  }
}
