.anti-aging-clinic h2 {
  font-size: 2rem;
  color: var(--secondary);
  margin: 0.8rem 0rem;
}
p{
  text-align: justify;
}
.anti-aging-clinic .clinic-feature {
  color: var(--secondary);
  font-size: 1.2rem;
  margin: 0.5rem 0rem;
}

.anti-aging-clinic .clinic-feature-description,
.benefits-list {
  font-size: 0.8rem;
  margin: 0.4rem 0rem;
  line-height: 1.8;
}

.anti-aging-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0rem;
}

.anti-aging-clinic {
  flex: 0 1 50%;
}

.anti-aging-section figure {
  flex: 0 1 40%;
}

.anti-aging-clinic figure img {
  width: 100%;
}


@media screen and (max-width: 540px) {
  .anti-aging-section {
    flex-direction: column;
  }
  .anti-aging-section img {
    width: 300px;
  }
  .anti-aging-clinic {
    flex: 0 1 40%;
  }
  html {
    font-size: 8px;
  }
  .aboutus_hero {
    max-width: 100%;
  }
  .aboutus_hero img {
    width: 100%;
    margin-top: 10rem;
  }
  .advanced-facial-glow-section img{
    width: 100%;
  }
  .container {
    width: 500px;
  }
  .anti-aging-section figure {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 440px) {
  html {
    font-size: 8px;
  }
  .container {
    width: 400px;
  }
}
@media screen and (max-width: 360px) {
  .container {
    width: 320px;
  }
}
@media screen and (max-width: 320px) {
  .container {
    width: 280px;
  }
}