.v-shaped-facial-lifting-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0rem;
}

.v-shaped-facial-lifting-treatments h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
}

.treatment-description {
  margin-bottom: 1.5rem;
}

.treatment-heading {
  font-size: 1.5rem;
  color: #666;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.treatment-list {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.v-shaped-facial-lifting-treatments{
  flex: 0 1 55%;
}
.v-shaped-facial-lifting-section figure {
  flex: 0 1 40%;
}

.v-shaped-facial-lifting-section figure img {
  width: 100%;
}

@media screen and (max-width: 440px) {
  .container {
    width: 360px;
  }
  html {
    font-size: 8px;
  }
  .aboutus_hero {
    max-width: 100%;
  }
  .full-body-therapy-section img {
    width: 330px;
  }
}

