.face-lifting-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0rem;
}

.face-lifting-treatments{
  flex: 0 1 55%;
}

.fat-freezing-section figure {
  flex: 0 1 40%;
}

.face-lifting-treatments h2 {
  font-size: 2rem;
  color: var(--secondary);
  margin: 0.8rem 0rem;
}

.face-lifting-treatments .technology {
  color: var(--secondary);
  font-size: 1.2rem;
  margin: 0.5rem 0rem;
}

.face-lifting-treatments .technology-description {
  font-size: 0.8rem;
  margin: 0.4rem 0rem;
  line-height: 1.6;
}

.benefits-list {
  margin-top: 0.8rem;
  padding-left: 1.2rem;
}

@media screen and (max-width: 540px) {
  .fat-freezing-section {
    flex-direction: column;
  }
  html {
    font-size: 12px;
  }
  .aboutus_hero {
    max-width: 100%;
  }
  .aboutus_hero img {
    width: 100%;
    margin-top: 10rem;
  }
  .face-lifting-treatments{
    flex: 0 1 40%;
  }
  .fat-freezing-section img {
    width: 100%;
  }
  .container {
    width: 500px;
  }
}

@media screen and (max-width: 440px) {
  html {
    font-size: 8px;
  }
  .container {
    width: 400px;
  }
}
@media screen and (max-width: 360px) {
  .container {
    width: 320px;
  }
}
@media screen and (max-width: 320px) {
  .container {
    width: 280px;
  }
}
