.advanced-facial-glow-clinic h2 {
  font-size: 2rem;
  color: var(--secondary);
  margin: 0.8rem 0rem;
}

.advanced-facial-glow-clinic h3,
.advanced-facial-glow-clinic h4 {
  color: var(--secondary);
  font-size: 1.2rem;
  margin: 0.5rem 0rem;
}

.advanced-facial-glow-clinic .clinic-feature-description {
  font-size: 0.8rem;
  margin: 0.4rem 0rem;
  line-height: 1.8;
}

.advanced-facial-glow-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0rem;
}

.advanced-facial-glow-clinic {
  flex: 0 1 55%;
}

.advanced-facial-glow-section figure {
  flex: 0 1 40%;
}

.advanced-facial-glow-clinic figure img {
  width: 100%;
}

@media screen and (max-width: 540px) {
  /* Add styles for screens with a maximum width of 540px */
}

@media screen and (max-width: 440px) {
  .advanced-facial-glow-section {
    flex-direction: column;
    width: 360px;
  }

  .advanced-facial-glow-section img {
    width: 330px;
  }

  .advanced-facial-glow-clinic {
    flex: 0 1 40%;
  }
}
