.facial-fat-reduction-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0rem;
}

.facial-fat-reduction {
  flex: 0 1 55%;
}

.facial-fat-reduction-section figure {
  flex: 0 1 40%;
}

.facial-fat-reduction h2 {
  font-size: 2rem;
  color: var(--secondary);
  margin: 0.8rem 0rem;
}

.facial-fat-reduction .treatment-description {
  font-size: 0.8rem;
  margin: 0.4rem 0rem;
  line-height: 1.6;
}

.facial-fat-reduction .treatment {
  font-size: 1.2rem;
  color: var(--secondary);
  margin: 0.8rem 0rem 0.4rem 0rem;
}

.techniques-list {
  padding-left: 1.2rem;
  margin-top: 0.8rem;
}

.benefits-list {
  padding-left: 1.2rem;
  margin-top: 0.8rem;
}

.clinic-info {
  font-size: 0.8rem;
  margin-top: 0.8rem;
}

@media screen and (max-width: 540px) {
  .facial-fat-reduction-section {
    flex-direction: column;
  }
  html {
    font-size: 12px;
  }
  .aboutus_hero {
    max-width: 100%;
  }
  .aboutus_hero img {
    width: 100%;
    margin-top: 10rem;
  }
  .facial-fat-reduction-section img {
    width: 100%;
  }

  .facial-fat-reduction {
    flex: 0 1 40%;
    margin-bottom: 1.5rem;
  }
  .container {
    width: 500px;
  }
  .facial-fat-reduction-section figure{
    margin-top: 2rem;
  }
}

@media screen and (max-width: 440px) {
  html {
    font-size: 8px;
  }
  .container {
    width: 400px;
  }
}
@media screen and (max-width: 360px) {
  .container {
    width: 320px;
  }
}
@media screen and (max-width: 320px) {
  .container {
    width: 280px;
  }
}