.hair-transplant-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0rem;
}

.hair-transplant-clinic {
  flex: 0 1 55%;
}

.hair-transplant-clinic h2 {
  font-size: 2rem;
  color: var(--secondary);
  margin: 0.8rem 0rem;
}

.hair-transplant-clinic h3 {
  font-size: 1.5rem;
  color: var(--secondary);
  margin: 0.6rem 0rem;
}

.hair-transplant-clinic .clinic-feature-description {
  font-size: 0.8rem;
  margin: 0.4rem 0rem;
  line-height: 1.6;
}

.hair-transplant-clinic .clinic-feature-list {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin-top: 0.6rem;
}

@media screen and (max-width: 540px) {
}

@media screen and (max-width: 440px) {
  .hair-transplant-section {
    flex-direction: column;
    width: 360px;
  }
  .hair-transplant-clinic {
    flex: 0 1 40%;
  }
}
