.figure-correction-clinic h2 {
  font-size: 2rem;
  color: var(--secondary);
  margin: 0.8rem 0rem;
}

.figure-correction-clinic .clinic-feature {
  color: var(--secondary);
  font-size: 1.2rem;
  margin: 0.5rem 0rem;
}

.figure-correction-clinic .clinic-feature-description {
  font-size: 0.8rem;
  margin: 0.4rem 0rem;
  line-height: 1.6;
}

.figure-correction-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0rem;
}

.figure-correction-clinic {
  flex: 0 1 55%;
}

.figure-correction-section figure {
  flex: 0 1 40%;
}

.figure-correction-clinic figure img {
  width: 100%;
}

@media screen and (max-width: 440px) {
  .figure-correction-section {
    flex-direction: column;
    width: 360px;
  }

  .figure-correction-section img {
    width: 330px;
  }

  .figure-correction-clinic {
    flex: 0 1 40%;
  }
}