.fat-freezing-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0rem;
}

.fat-freezing-technology {
  flex: 0 1 55%;
}

.fat-freezing-section figure {
  flex: 0 1 40%;
}

.fat-freezing-technology h2 {
  font-size: 2rem;
  color: var(--secondary);
  margin: 0.8rem 0rem;
}

.fat-freezing-technology .technology {
  color: var(--secondary);
  font-size: 1.2rem;
  margin: 0.5rem 0rem;
}

.fat-freezing-technology .technology-description {
  font-size: 0.8rem;
  margin: 0.4rem 0rem;
  line-height: 1.6;
}

.benefits-list {
  margin-top: 0.8rem;
  padding-left: 1.2rem;
}
p {
  text-align: justify;
}

@media screen and (max-width: 540px) {
  .fat-freezing-section {
    flex-direction: column;
  }
  .fat-freezing-section img {
    width: 330px;
  }
  .fat-freezing-technology {
    flex: 0 1 40%;
  }
  html {
    font-size: 12px;
  }
  .container {
    width: 500px;
  }
  .fat-freezing-section figure {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 440px) {
  html {
    font-size: 8px;
  }
  .container {
    width: 400px;
  }
}
